* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.hover:hover { 
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.btn {
    border: none;
    background-color: #ee4d2d;
    color: #fff;
}

/* css nut luc duoc chon */
.btn__when-focus {
    background-color: #f53e2d !important; 
    color: #fff !important;
}

